### Modules

In [72]:
cd ../ACELERAÇÃO

C:\Users\luisr\Desktop\Repositories\Data Science Projects\Hackaton COR IV - Centro de Operações do RJ\ACELERAÇÃO

In [74]:
import requests, json, pandas as pd, numpy as np

from Modulos.imbalanced_selection import groupConsecutiveFlags

---
# Get prediction alerts from waterbag models api

### Request predictions for region 'Catete'

In [128]:
waterbag_api = 'http://127.0.0.1:5000/'
catete_url = waterbag_api + 'predictions?cluster_id=1'

# api request
catete = pd.DataFrame(requests.get(catete_url).json())

catete.head()

,_id,timestamp,date,time,cluster_id,cluster,range,probability,confidence,label
0,6392b78ddae0e50eacc93ae6,2022-12-09 04:20:00.022000,2022-12-09,01:20:00,1,Rua do Catete,1h,0.000449,0.999103,0
1,6392a5eedae0e50eacc93a92,2022-12-09 03:05:00.022000,2022-12-09,00:05:00,1,Rua do Catete,1h,0.000488,0.999024,0
2,63929d0cdae0e50eacc93a62,2022-12-09 02:25:00.061000,2022-12-08,23:25:00,1,Rua do Catete,1h,0.000920,0.998159,0
3,63929201dae0e50eacc93a2c,2022-12-09 01:40:00.018000,2022-12-08,22:40:00,1,Rua do Catete,1h,0.000800,0.998399,0
4,639290dfdae0e50eacc93a26,2022-12-09 01:35:00.024000,2022-12-08,22:35:00,1,Rua do Catete,1h,0.000849,0.998302,0

### Type conversion

In [132]:
catete['timestamp'] = catete['timestamp'].astype('datetime64[ms]')

catete.set_index('timestamp', inplace=True)
catete.sort_index(inplace=True)

### Operation start

In [133]:
operation_start = catete.index.min()

str(operation_start.date())

'2022-10-19'

### Operation time

In [134]:
pd.datetime.now() - operation_start

<ipython-input-134-18cfd65ff83b>:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  pd.datetime.now() - operation_start

Timedelta('53 days 02:11:38.060275')

In [135]:
yprob = catete['probability']
yhat = (yprob >= 0.5).astype('int')
ygroup = groupConsecutiveFlags(yhat)

catete['alert'] = ygroup

### Predicted alerts duration

In [144]:
alert_duration = 5 * ygroup.value_counts().drop(-1).to_frame('duration (min)')

alert_duration.T

                  6   0   7   2   8   9   1   3   4   5
duration (min)  165  95  80  70  70  70  60  35  10  10

### Alerts date and time

In [147]:
start = catete.groupby('alert').first()[['date', 'time']]
end = catete.groupby('alert').last()[['date', 'time']]
end.columns = ['date_end', 'time_end']

alerts = start.join([end[['time_end']], alert_duration]).drop(-1)

alerts

             date      time  time_end  duration (min)
alert
0      2022-10-31  17:10:00  18:40:00            95.0
1      2022-11-01  13:55:00  14:50:00            60.0
2      2022-11-01  15:20:00  16:25:00            70.0
3      2022-11-01  17:55:00  18:25:00            35.0
4      2022-11-01  18:55:00  19:00:00            10.0
5      2022-11-24  05:45:00  05:50:00            10.0
6      2022-11-24  06:00:00  08:40:00           165.0
7      2022-11-28  13:45:00  15:00:00            80.0
8      2022-11-28  15:15:00  16:20:00            70.0
9      2022-11-28  16:35:00  17:40:00            70.0

---
# Get closed waterbag events from Sistema Comando

### Request events from comando api

In [196]:
comando_api = 'https://api.dados.rio/v2/adm_cor_comando/'
operation_events_url = comando_api + 'ocorrencias?inicio=' + str(operation_start)[:-5]

dict_df_map = lambda df: pd.DataFrame(df['eventos'])

events_res = requests.get(operation_events_url).json()
events = pd.concat(list(map(dict_df_map, events_res['eventos'])))

events.head()

,tipo,pop_id,bairro,latitude,inicio,titulo,fim,prazo,descricao,informe_id,gravidade,id,longitude,status
0,PRIMARIO,26,Manguinhos,-22.885057,2022-10-19 06:11:29.0,Operação policial,2022-10-19 07:20:09.0,CURTO,Av. Brasil - Alt. ASSAÍ - Benfica - Sent. Centro,82869,MEDIO,82868,-43.235172,FECHADO
1,PRIMARIO,26,Praça Seca,-22.898869,2022-10-19 05:59:54.0,Ocorrência policial ( CAM 192 ),2022-10-19 08:22:02.0,CURTO,R. Cândido Benício - Alt. Estação BRT Ipase - ...,82868,BAIXO,82867,-43.353007,FECHADO
2,PRIMARIO,2,Barra da Tijuca,-23.000435,2022-10-19 06:14:32.0,AC 2 VPs seguido de capotamento,2022-10-19 07:20:52.0,CURTO,Av. das Américas - Alt. Américas Park - Barra ...,82870,BAIXO,82869,-43.389786,FECHADO
3,PRIMARIO,1,Ramos,-22.851028,2022-10-19 06:37:37.0,Enguiço VP,2022-10-19 08:25:48.0,CURTO,Av. Brasil - Passarela 11 - Ramos - Sent. Centro.,82872,BAIXO,82871,-43.247759,FECHADO
4,PRIMARIO,1,Guadalupe,-22.842817,2022-10-19 06:36:08.0,Enguiço VP,2022-10-19 08:26:29.0,CURTO,Av Brasil - Alt. Passarela 31 - Guadalupe - Se...,82871,BAIXO,82870,-43.373230,FECHADO

### Data cleaning

In [198]:
events['inicio'] = events['inicio'].astype('datetime64[ms]')
events['fim'] = events['fim'].astype('datetime64[ms]')

### Get events inside the model's region of influence

In [ ]:
    # Get events points array
    points = np.array(list(map(tuple, open_events_df[['latitude', 'longitude']].values)))
    
    # Get events polygons dict
    events_poly = {}
    for cluster_id, poly in polygons.items():
        mpl_poly =  mpl_path(poly)
        points_msk = mpl_poly.contains_points(points)
        poly_events_df = open_events_df[points_msk]
        poly_events_ids = list(poly_events_df['id'])
        for event_id in poly_events_ids:
            events_poly[event_id] = cluster_id

In [201]:
events[events['pop_id']==5]

,tipo,pop_id,bairro,latitude,inicio,titulo,fim,prazo,descricao,informe_id,gravidade,id,longitude,status
23,PRIMARIO,5,Pavuna,-22.809853,2022-10-28 16:36:56,Bolsão d'água em via ( CAM 3105 ),2022-10-28 17:12:57,CURTO,R. Srg. Antônio Ernesto - Pavuna,83356,BAIXO,83355,-43.357168,FECHADO
24,PRIMARIO,5,Pavuna,-22.806887,2022-10-28 16:40:14,Bolsão d'água em via ( CAM 3104 ),2022-10-28 20:07:32,CURTO,R. Netuno - Alt. 714 - Pavuna,83357,MEDIO,83356,-43.359396,FECHADO
25,PRIMARIO,5,Pavuna,-22.804693,2022-10-28 16:43:56,Bolsão d'água em via ( CAM 3342 ),2022-10-28 17:49:55,CURTO,Av. Automóvel Clube - Alt nº 41 - Pavuna,83358,BAIXO,83357,-43.366833,FECHADO
27,PRIMARIO,5,Irajá,-22.820481,2022-10-28 17:13:06,Bolsão d'água em via ( CAM 363 ),2022-10-28 18:40:05,CURTO,Av. Brasil - Alt. Trevo das Margaridas - Irajá...,83360,MEDIO,83359,-43.320401,FECHADO
28,PRIMARIO,5,Pavuna,-22.804498,2022-10-28 17:56:25,Bolsão d'água em via,2022-10-28 19:01:21,CURTO,Av. Cel. Phidias Távora - Alt. nº 100 - Pavuna,83361,BAIXO,83360,-43.328843,FECHADO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47,PRIMARIO,5,Quintino Bocaiuva,-22.891366,2022-11-16 10:26:09,Bolsão d'água em via,2022-11-16 12:03:10,CURTO,R. João Barbalho - Quintino Bocaiuva,84512,BAIXO,84511,-43.319058,FECHADO
48,PRIMARIO,5,Cavalcante,-22.869447,2022-11-16 10:30:27,Bolsão d'água em via,2022-11-16 11:50:02,CURTO,R. Laurindo Filho - Cavalcante,84513,BAIXO,84512,-43.317670,FECHADO
50,PRIMARIO,5,Barra da Tijuca,-23.010101,2022-11-16 10:40:52,Bolsão d'água em via,2022-11-16 17:48:06,CURTO,"Av. Lúcio Costa, 4000 - Barra da Tijuca",84516,BAIXO,84515,-43.336679,FECHADO
51,PRIMARIO,5,Engenho de Dentro,-22.899908,2022-11-16 10:52:04,Bolsão d'água em via,2022-11-16 11:13:06,CURTO,R. Monsenhor Jerônimo - Engenho de Dentro,84517,BAIXO,84516,-43.294799,FECHADO
58,PRIMARIO,5,Piedade,-22.895834,2022-11-16 11:42:21,Bolsão d'água em via,2022-11-16 12:03:13,CURTO,Rua Clarimundo de Melo - Alt. R. Paraná - Piedade,84523,BAIXO,84522,-43.316148,FECHADO