#### Import modules

In [1]:
cd ../../../../Apps/Python/bolsao-api

C:\Users\luisr\Desktop\Repositories\Apps\Python\bolsao-api

In [2]:
import requests, json, pandas as pd
from modules.stations import alertario_api_live, alertario_live, inmet_live, alertario_features, inmet_features

# from modules.points_monitoring import PointsMonitoring

C:\Users\luisr\AppData\Roaming\Python\Python38\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [98]:
import pandas as pd
from datetime import datetime
import pytz; tz_br = pytz.timezone('Brazil/East')
from scipy.spatial import distance_matrix

'To-Do:'
'1. Include timestamp on sorted_data function response'
'2. Change how polygons class handles non-point data in both status and general status'

class PointsMonitoring:

    def __init__(self, df1, df2, id1, id2, coords1, coords2):
        self.df1=df1; self.df2=df2;
        self.id1=id1; self.id2=id2;
        self.coords1=coords1; self.coords2=coords2;
        self.distances = self.distance_matrix_df()
        self.distances_rank = self.distances_rank_df()
        
    def distance_matrix_df(self):
        return pd.DataFrame(distance_matrix(self.df1[self.coords1], self.df2[self.coords2]), index=self.df1[self.id1], columns=self.df2[self.id2])

    def distances_rank_df(self):
        return pd.DataFrame(
            [row.sort_values().index.values for idx, row in self.distances.iterrows()],
            columns=range(1, self.distances.shape[1] + 1),
            index=self.distances.index,
        )

    def flat_features(self, data, id_col, features):
        return pd.concat([data.set_index(id_col).loc[_id, features].add_suffix(f' - {_id}') for _id in data[id_col].values], axis=0)

    def sorted_points_data(self, data, features, n_first, join_coords=True, join_props=False, as_datetime=False):
        cols = [f'{feat} - {position}' for position in range(1, n_first + 1) for feat in features] 
        sorted_data = []; now = datetime.now(tz_br)
        for idx, row in self.distances_rank.iloc[:, :n_first].iterrows():
            sorted_data.append(self.flat_features(data.set_index(self.id2).loc[row.values].reset_index(), self.id2, features).values)
        sorted_data = pd.DataFrame(sorted_data, columns=cols, index=self.distances_rank.index)
        stamp = now if as_datetime else now.strftime('%Y-%m-%d %X')
        timestamp = pd.Series(stamp, index=sorted_data.index, name='timestamp')
        sorted_data = pd.concat([timestamp, sorted_data], axis=1).reset_index()
        if join_coords:
            sorted_data = self.df1[[self.id1]+self.coords1].join(sorted_data.set_index(self.id1), on=self.id1)
        if join_props:
            miss_cols = list(set(self.df1).difference(sorted_data).difference(self.coords1))
            sorted_data = self.df1[[self.id1]+miss_cols].join(sorted_data.set_index(self.id1), on=self.id1)
        return sorted_data.fillna('')

---

### Load stations data

In [3]:
alertario_stations = pd.read_csv('static/stations/alertario.csv')
inmet_stations = pd.read_csv('static/stations/inmet.csv')

working_alertario_stations = alertario_api_live()['id_estacao']
working_inmet_stations = inmet_live()['id_estacao']

alertario_stations['id_estacao'] = alertario_stations['id_estacao'].astype(str)
alertario_stations = alertario_stations[alertario_stations['id_estacao'].isin(working_alertario_stations)]
inmet_stations = inmet_stations[inmet_stations['id_estacao'].isin(working_inmet_stations)]

### Load flood polygons data

In [4]:
polygons = pd.read_csv('static/clusters/clusters_micro.csv').rename(columns={'sublabel': 'cluster_id'})
polygons = polygons[polygons['cluster_id'] != -1]

### Load cameras data

In [5]:
cameras = pd.read_csv('static/city/cameras.csv')

---

### polygons closest stations data

In [120]:
df1 = polygons
df2 = alertario_stations
id1 = 'cluster_id'
id2 = 'id_estacao'
coords1 = ['lng_centroid', 'lat_centroid']
coords2 = ['longitude', 'latitude']

data = alertario_api_live()
features = alertario_features
n_first = 5

poly_monitor = PointsMonitoring(df1, df2, id1, id2, coords1, coords2)

poly_stations = poly_monitor.sorted_points_data(data, features, n_first)

display(poly_monitor.distances_rank.head())
display(poly_stations.head())

,1,2,3,4,5,6,7,8,9,10,...,24,25,26,27,28,29,30,31,32,33
cluster_id,,,,,,,,,,,,,,,,,,,,,
0,17,28,1,18,21,19,16,7,33,14,...,12,24,25,8,26,29,20,22,27,3
1,31,5,2,15,4,32,6,16,33,1,...,24,30,12,25,29,26,20,22,27,3
2,6,2,31,5,16,4,1,33,15,32,...,30,24,12,25,29,26,20,22,27,3
3,6,16,1,31,2,5,4,33,28,15,...,30,24,12,25,29,26,20,22,27,3
4,17,28,1,16,21,18,7,33,19,4,...,24,12,8,25,26,29,20,22,27,3

,cluster_id,lng_centroid,lat_centroid,timestamp,acumulado_chuva_15_min - 1,acumulado_chuva_1_h - 1,acumulado_chuva_4_h - 1,acumulado_chuva_24_h - 1,acumulado_chuva_96_h - 1,acumulado_chuva_15_min - 2,...,acumulado_chuva_15_min - 4,acumulado_chuva_1_h - 4,acumulado_chuva_4_h - 4,acumulado_chuva_24_h - 4,acumulado_chuva_96_h - 4,acumulado_chuva_15_min - 5,acumulado_chuva_1_h - 5,acumulado_chuva_4_h - 5,acumulado_chuva_24_h - 5,acumulado_chuva_96_h - 5
1,0,-43.310232,-23.006631,2023-02-07 02:17:03,0.0,0.0,0.0,0.0,12.0,0.0,...,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,2.0
2,1,-43.176842,-22.926423,2023-02-07 02:17:03,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,11.8,0.0,0.0,0.0,0.0,2.0
3,2,-43.185999,-22.966793,2023-02-07 02:17:03,0.0,0.0,0.0,0.0,2.4,0.0,...,0.0,0.0,0.0,0.0,4.2,0.0,0.0,0.0,0.0,5.0
4,3,-43.202540,-22.979735,2023-02-07 02:17:03,0.0,0.0,0.0,0.0,2.4,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.8
5,4,-43.298339,-23.012736,2023-02-07 02:17:03,0.0,0.0,0.0,0.0,12.0,0.0,...,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,2.0

In [121]:
[poly_monitor.distances_rank[col].unique() for col in poly_monitor.distances_rank]

[array(['17', '31', '6', '1', '32', '15', '16', '12', '4', '11', '18',
        '19', '7', '23', '8', '10', '26', '14', '9', '5', '33', '27'],
       dtype=object),
 array(['28', '5', '2', '16', '15', '23', '32', '31', '24', '1', '9', '6',
        '17', '18', '33', '7', '19', '13', '22', '4', '10', '29'],
       dtype=object),
 array(['1', '2', '31', '17', '4', '33', '28', '5', '6', '9', '29', '32',
        '10', '21', '23', '14', '11', '18', '15', '7', '13', '24', '20'],
       dtype=object),
 array(['18', '15', '5', '31', '16', '33', '17', '4', '7', '14', '13',
        '28', '32', '6', '2', '21', '9', '30', '27', '24', '8', '26'],
       dtype=object),
 array(['21', '4', '16', '2', '33', '5', '6', '31', '10', '23', '19', '18',
        '32', '17', '15', '14', '25', '1', '7', '24', '26'], dtype=object),
 array(['19', '32', '4', '5', '18', '6', '23', '7', '16', '33', '2', '15',
        '26', '24', '14', '30', '31', '8', '28', '21', '20', '11', '13',
        '29'], dtype=object),
 array(['16', '6', '1', '4', '7', '9', '15', '2', '11', '33', '14', '28',
        '5', '31', '24', '21', '13', '12', '23', '18', '19'], dtype=object),
 array(['7', '16', '33', '4', '31', '5', '8', '18', '2', '21', '13', '28',
        '6', '23', '19', '9', '10', '24', '30', '1', '32'], dtype=object),
 array(['33', '15', '28', '19', '21', '9', '8', '5', '32', '16', '2', '1',
        '6', '10', '7', '31', '30', '18', '24', '11', '23', '4', '13'],
       dtype=object),
 array(['14', '1', '32', '15', '4', '5', '8', '31', '23', '13', '7', '16',
        '28', '10', '9', '19', '2', '33', '6', '21', '25', '30', '24'],
       dtype=object),
 array(['13', '7', '28', '32', '6', '31', '16', '21', '30', '23', '1', '8',
        '4', '15', '9', '5', '11', '2', '14', '33', '10', '18'],
       dtype=object),
 array(['4', '23', '7', '14', '2', '13', '16', '28', '1', '21', '15', '8',
        '18', '10', '33', '17', '11', '9', '6', '31', '32'], dtype=object),
 array(['23', '28', '17', '13', '2', '21', '32', '8', '25', '9', '33',
        '16', '1', '15', '31', '11', '10', '4', '6', '12'], dtype=object),
 array(['6', '8', '17', '23', '32', '28', '16', '9', '1', '4', '30', '31',
        '10', '21', '19', '11', '2', '12', '33'], dtype=object),
 array(['30', '9', '21', '5', '18', '2', '13', '17', '10', '28', '4', '12',
        '6', '14', '11', '16', '1'], dtype=object),
 array(['5', '13', '31', '6', '10', '15', '21', '2', '7', '8', '32', '4',
        '1', '28', '12', '25', '30', '33', '16', '11', '9'], dtype=object),
 array(['10', '21', '8', '9', '32', '15', '1', '18', '11', '28', '12',
        '13', '6', '5', '31', '17', '4', '29', '2', '14', '20'],
       dtype=object),
 array(['31', '17', '9', '8', '30', '19', '10', '6', '14', '13', '1', '18',
        '5', '25', '32', '2', '24', '28', '11', '23'], dtype=object),
 array(['32', '10', '18', '2', '14', '11', '19', '6', '33', '8', '17', '9',
        '24', '12', '30', '1', '15', '28', '31', '4', '5', '16', '22',
        '20', '23'], dtype=object),
 array(['2', '18', '10', '17', '14', '11', '32', '31', '9', '16', '5',
        '26', '6', '1', '33', '7'], dtype=object),
 array(['15', '14', '9', '17', '18', '20', '16', '11', '32', '8', '19',
        '2', '5', '24', '6', '7', '25', '1', '31', '33', '22'],
       dtype=object),
 array(['9', '11', '19', '30', '18', '8', '17', '22', '12', '6', '1', '33',
        '15', '16', '14', '32'], dtype=object),
 array(['11', '19', '24', '4', '1', '5', '17', '31', '15', '27'],
       dtype=object),
 array(['12', '24', '30', '8', '19', '2', '15', '31', '25', '4', '5', '1',
        '16'], dtype=object),
 array(['24', '30', '12', '16', '6', '2', '15', '32', '8', '1', '4'],
       dtype=object),
 array(['25', '12', '8', '30', '1', '29', '2', '15', '16', '32'],
       dtype=object),
 array(['8', '25', '29', '5', '30', '26', '31', '2'], dtype=object),
 array(['26', '29', '25', '15', '5', '6'], dtype=object),
 array(['29', '26', '31', '25', '8', '20', '15', '2', '27'], dtype=object),
 array(['20', '27', '8', '31'], dtype=object),
 array(['22', '6', '15'], dtype=object),
 array(['27', '2'], dtype=object),
 array(['3'], dtype=object)]

### Cameras closest stations data

In [110]:
df1 = cameras
id1 = 'Codigo'
coords1 = ['Latitude', 'Longitude']
df2 = alertario_stations
id2 = 'id_estacao'
coords2 = ['longitude', 'latitude']

data = alertario_api_live()
features = alertario_features
n_first = 5

cams_monitor = PointsMonitoring(df1, df2, id1, id2, coords1, coords2)

cams_stations = cams_monitor.sorted_points_data(data, features, n_first)

display(cams_monitor.distances_rank.head())
display(cams_stations.head())

,1,2,3,4,5,6,7,8,9,10,...,24,25,26,27,28,29,30,31,32,33
Codigo,,,,,,,,,,,,,,,,,,,,,
1,6,2,1,31,16,5,4,15,17,33,...,25,11,20,24,12,26,29,27,22,3
2,6,2,1,31,16,5,4,17,15,33,...,25,11,20,24,12,26,29,27,22,3
3,6,2,1,31,16,5,4,17,15,33,...,25,11,20,24,12,26,29,27,22,3
4,6,2,1,31,16,5,4,15,17,33,...,25,11,20,24,12,26,29,27,22,3
5,6,2,1,31,16,5,4,17,15,33,...,25,11,20,24,12,26,29,27,22,3

,Codigo,Latitude,Longitude,timestamp,acumulado_chuva_15_min - 1,acumulado_chuva_1_h - 1,acumulado_chuva_4_h - 1,acumulado_chuva_24_h - 1,acumulado_chuva_96_h - 1,acumulado_chuva_15_min - 2,...,acumulado_chuva_15_min - 4,acumulado_chuva_1_h - 4,acumulado_chuva_4_h - 4,acumulado_chuva_24_h - 4,acumulado_chuva_96_h - 4,acumulado_chuva_15_min - 5,acumulado_chuva_1_h - 5,acumulado_chuva_4_h - 5,acumulado_chuva_24_h - 5,acumulado_chuva_96_h - 5
0,1,-22.900259,-43.177031,2023-02-07 02:13:45,0.0,0.0,0.0,0.0,2.4,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,5.0
1,2,-22.901392,-43.179391,2023-02-07 02:13:45,0.0,0.0,0.0,0.0,2.4,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,5.0
2,3,-22.904902,-43.190353,2023-02-07 02:13:45,0.0,0.0,0.0,0.0,2.4,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,5.0
3,4,-22.809417,-43.251544,2023-02-07 02:13:45,0.0,0.0,0.0,0.0,2.4,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,5.0
4,5,-22.913741,-43.174155,2023-02-07 02:13:45,0.0,0.0,0.0,0.0,2.4,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,5.0

In [119]:
[cams_monitor.distances_rank[col].unique() for col in cams_monitor.distances_rank]

[array(['6', '8'], dtype=object),
 array(['2', '9'], dtype=object),
 array(['1', '11'], dtype=object),
 array(['31', '24'], dtype=object),
 array(['16', '15'], dtype=object),
 array(['5', '32'], dtype=object),
 array(['4', '17', '23'], dtype=object),
 array(['15', '17', '4', '10'], dtype=object),
 array(['17', '15', '13'], dtype=object),
 array(['33', '5'], dtype=object),
 array(['28', '31'], dtype=object),
 array(['32', '4'], dtype=object),
 array(['7'], dtype=object),
 array(['23', '2'], dtype=object),
 array(['21', '33'], dtype=object),
 array(['8', '21'], dtype=object),
 array(['19', '12'], dtype=object),
 array(['18', '29'], dtype=object),
 array(['13', '14'], dtype=object),
 array(['9', '30', '16'], dtype=object),
 array(['30', '9', '6'], dtype=object),
 array(['14', '28'], dtype=object),
 array(['10', '18'], dtype=object),
 array(['25', '11', '1'], dtype=object),
 array(['11', '25', '26'], dtype=object),
 array(['20', '19'], dtype=object),
 array(['24', '17'], dtype=object),
 array(['12', '22'], dtype=object),
 array(['26', '30'], dtype=object),
 array(['29', '25'], dtype=object),
 array(['27'], dtype=object),
 array(['22', '20'], dtype=object),
 array(['3'], dtype=object)]

---
### Time measuring for city cameras

In [12]:
import time

df1 = cameras
id1 = 'Codigo'
coords1 = ['Latitude', 'Longitude']

start = time.time()
cams_stations = PointsMonitoring(df1, df2, id1, id2, coords1, coords2)
cams_sorted_alertario = cams_stations.sorted_points_data(data, features, n_first)
end = time.time()

print(f'n,k permutaions time (s): {end - start}')

display(cams_stations.distances_rank.head())
display(cams_sorted_alertario.head())

Start time: 0.6457834243774414
Data n,k permuation time: 29.474377632141113
Total time: 29.474377632141113

,1,2,3,4,5,6,7,8,9,10,...,24,25,26,27,28,29,30,31,32,33
Codigo,,,,,,,,,,,,,,,,,,,,,
1,6,2,1,31,16,5,4,15,17,33,...,25,11,20,24,12,26,29,27,22,3
2,6,2,1,31,16,5,4,17,15,33,...,25,11,20,24,12,26,29,27,22,3
3,6,2,1,31,16,5,4,17,15,33,...,25,11,20,24,12,26,29,27,22,3
4,6,2,1,31,16,5,4,15,17,33,...,25,11,20,24,12,26,29,27,22,3
5,6,2,1,31,16,5,4,17,15,33,...,25,11,20,24,12,26,29,27,22,3

,Codigo,acumulado_chuva_15_min - 1,acumulado_chuva_1_h - 1,acumulado_chuva_4_h - 1,acumulado_chuva_24_h - 1,acumulado_chuva_96_h - 1,acumulado_chuva_15_min - 2,acumulado_chuva_1_h - 2,acumulado_chuva_4_h - 2,acumulado_chuva_24_h - 2,...,acumulado_chuva_15_min - 4,acumulado_chuva_1_h - 4,acumulado_chuva_4_h - 4,acumulado_chuva_24_h - 4,acumulado_chuva_96_h - 4,acumulado_chuva_15_min - 5,acumulado_chuva_1_h - 5,acumulado_chuva_4_h - 5,acumulado_chuva_24_h - 5,acumulado_chuva_96_h - 5
0,0,0.0,0.0,0.4,2.4,2.4,0.0,0.0,0.6,0.8,...,0.0,0.0,1.0,1.6,2.0,0.0,0.0,1.0,5.0,5.0
1,1,0.0,0.0,0.4,2.4,2.4,0.0,0.0,0.6,0.8,...,0.0,0.0,1.0,1.6,2.0,0.0,0.0,1.0,5.0,5.0
2,2,0.0,0.0,0.4,2.4,2.4,0.0,0.0,0.6,0.8,...,0.0,0.0,1.0,1.6,2.0,0.0,0.0,1.0,5.0,5.0
3,3,0.0,0.0,0.4,2.4,2.4,0.0,0.0,0.6,0.8,...,0.0,0.0,1.0,1.6,2.0,0.0,0.0,1.0,5.0,5.0
4,4,0.0,0.0,0.4,2.4,2.4,0.0,0.0,0.6,0.8,...,0.0,0.0,1.0,1.6,2.0,0.0,0.0,1.0,5.0,5.0